<div class="col-12 pt-3">
    <div class="card bg-success border-dark">
        <div class="card-body text-white">
            <div class="g-5 d-flex">
                <img class="col-md-1" height="60px" width="60px" src="../../../assets/lechugas.jpg" alt="">
                <div class="ps-3 col-md-10">
                    <h5 id="titulo">{{miniPost.titulo}}<span class="badge bg-success">@usuario</span></h5>
                    <p>{{miniPost.descripcion}}</p>
                </div>
                <div class="col-md-1 float-right">
                    <a [routerLink]="['/post-screen']" class="btn btn-secondary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>