body
    background-attachment: fixed
    background-size: cover
    font-family: sans-serif, 'Times New Roman', Times, serif
    display: flex
    flex-direction: column
    min-height: 100vh
    margin: 0
    padding: 0
    border: 0

nav
    ul
        float: left
        li
            margin: 0px 15px 0px 15px

section
    margin-top: 2%
    display: flex
    justify-content: center
    #tarjetaPlanta
        margin-right: 15%
        width: 100%
        max-width: 450px
        img
            width: 100%
    #tablaInfo
        width: 100%
        max-width: 35%
        tr
            text-align: center
            td,th
                vertical-align: middle

footer
    padding: 1em 0
    margin-top: auto
    #sobreNosotros
        float: left
        margin-left: 50px
    #copy
        float: right
        margin-right: 50px