table, th, td { 
    border: 5px solid rgba(86, 86, 250, 0.623);
}

table{
    width: 100%;
    max-width: 500px;
    height: 350px;
    float: right;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

tr{
    color: aliceblue;
    font-size: 36px;
    text-align: center;
}

td,th{
    vertical-align: middle;
}

/* #planta{
    width: 100%;
    max-width: 450px;
    height: 300px;
    padding: 25px;
    border-radius: 5%;
}

#planta,table{
    margin: 5% 5% 5% 5%;
    background-color: #4f3e8c;
} */