body{
    background-color: #143E76;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.61'%3E%3Cpolygon fill='%23203e7a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%232c3e7f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23373e83' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23433e88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234F3E8C' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.enlace{
    position: left;
    padding: 5px 5px;
    width: 100%;
}

.logo{
    width: 7%;
    height: 7%;
}

#menu{
    float: left;
    list-style-type:none;
    display: flex;
    /* margin: 0 15% 0 15%; */
    width: 100%;
    background-color: #4f3e8c;
}

#menu li{
    display: inline-block;
    margin: 0 5% 0 5%;
    padding: 2% 5% 2% 5%;
    /* background-color: gray; */
}

#menu li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

#menu li a:hover{
    text-decoration: underline white;
    transition: .5s;
}