body{
    background-color: #143E76;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.61'%3E%3Cpolygon fill='%23203e7a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%232c3e7f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23373e83' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23433e88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%234F3E8C' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.enlace{
    position: left;
    padding: 5px 5px;
    width: 100%;
}

header{
    align-self: flex-start;
}

.logo{
    margin: 1.5%;
    width: 7%;
    height: 7%;
    float: left;
}

#titulo{
    margin-bottom: 1.5%;
    color: aliceblue;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

#menu{
    margin-top: 0.5%;
    float: left;
    list-style-type:none;
    display: flex;
    align-self: flex-start;
    width: 100%;
    background-color: #4f3e8c;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#menu li{
    display: inline-block;
    margin: 0 5% 0 5%;
    padding: 2% 5% 2% 5%;
}

#menu li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

#menu li a:hover{
    text-decoration: underline white;
    transition: .5s;
}

footer{
    padding: 1em 0;
    margin-top: auto;
    background-color: #4f3e8c;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    color: aliceblue;
}

#sobreNosotros{
    float: left;
    margin-left: 100px;
}

#copy{
    float: right;
    margin-right: 100px;
}