// Borrar esta ñau
body
    background-attachment: fixed
    background-size: cover
    font-family: sans-serif, 'Times New Roman', Times, serif
    display: flex
    flex-direction: column
    min-height: 100vh
    margin: 0
    padding: 0
    border: 0

nav
    ul
        float: left
        li
            margin: 0px 15px 0px 15px

section
    #botonPlanta
        margin-top: 1%
        float: right
        margin-right: 1%
    #tablaSeguimiento
        margin-right: 1%
        margin-left: 1%
        margin-top: 5%   
        width: 100%
        max-width: 98%
        tr
            text-align: center
            td,th
                vertical-align: middle

#agregarPlanta
    .dropdown
        text-align: center
        margin-top: 1% 
    #containerEdad
        margin-top: 3% 
        display: flex
        justify-content: center
        .form-check
            margin-right: 5%
    .form-control
        margin-top: 2.5%

.form-check-input:checked
    background-color: green


footer
    padding: 1em 0
    margin-top: auto
    #sobreNosotros
        float: left
        margin-left: 50px
    #copy
        float: right
        margin-right: 50px
