section{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
} 

article{
    width: 100%;
    max-width: 300px;
    height: 275px;
    border-radius: 10%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    margin: 10% 0 0 5%;
    padding: 30px;
    background-color: #4f3e8c;
    box-sizing: border-box;
}

article:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

article img{
    width: 100%;
    max-width: 200px;
    height: 150px;
}

article a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 550;
    font-size: 30px;
}