.container{
    margin: 2.5% 20% 2.5% 20%;
    background-color: #4f3e8c;
    border-radius: 5%;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.container ul, .container li{
    margin: 0;
    padding: 0;
    list-style: 0;
}

ul.slider{
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
}

ul.slider h1{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: .5s;
}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.num{
    text-align: center;
    margin: 20px;
}

.num li{
    display: inline-block;
    text-align: center;
}

.num li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #143e766e;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.num li a:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}