<div class="card text-center border-dark">
    <div class="card-header bg-success bg-gradient text-white border-dark">
      Cantidad de agua
    </div>
    <div class="card-body bg-success border-dark">
        <ul class="list-group bg-success border-dark">
            <li class="list-group-item bg-success bg-gradient text-white border-dark">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Poca agua
            </li>
            <li class="list-group-item bg-success bg-gradient text-white border-dark">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Media agua
            </li>
            <li class="list-group-item bg-success bg-gradient text-white border-dark">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              Mucha agua
            </li>
          </ul>
    </div>
</div>