<button id="comentario" type="button" class="btn btn-success bg-gradient" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    Comentar ✉
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bg-success text-white border-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Publicacion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="agregarComentario" class="modal-body">
                <textarea class="form-control" aria-label="With textarea" placeholder="Escribe aquí"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bg-gradient border-dark" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success bg-gradient border-dark">Publicar</button>
            </div>
        </div>
    </div>
</div>