<!-- Button trigger modal -->
<button id="botonPlanta" type="button" class="btn btn-success bg-gradient" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar planta🌱
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog ">
    <div class="modal-content bg-success text-white border-dark">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar planta</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div id="agregarPlanta" class="modal-body">
            <div class="dropdown">
                <!-- nombre y color del boton-->
                <button class="btn btn-success dropdown-toggle bg-gradient border-dark" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{plantaSelecionada}}
                </button>
                <!-- controlar el background del dropdown-->
                <ul class="dropdown-menu dropdown-menu-dark bg-success"
                    aria-labelledby="dropdownMenuButton1">
                    <li><a (click)="seleccionPlanta(planta)" *ngFor="let planta of plantas" class="dropdown-item" >{{planta}}</a></li>
                </ul>
            </div>

            <div id="containerEdad">
                <div class="form-check">
                    <input (input)="seleccionTiempo(1)" class="form-check-input border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Días
                    </label>
                </div>
                <div class="form-check">
                    <input (input)="seleccionTiempo(31)" class="form-check-input border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Meses
                    </label>
                </div>
                <div class="form-check">
                    <input (input)="seleccionTiempo(365)" class="form-check-input border-dark" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Años
                    </label>
                </div>
            </div>

            <input [(ngModel)]="edad" type="number"  min="0" max="100" class="form-control border-dark">
        </div>

        <div class="modal-footer">
            <button (click)="cancelar()" type="button" class="btn btn-secondary bg-gradient border-dark" data-bs-dismiss="modal">Cancelar</button>
            <button *ngIf="flag" (click)="guardar()" type="button" class="btn btn-success bg-gradient border-dark" data-bs-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>