<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <!--BOTON DE LOGO-->
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/inicio-screen']">
            <img src="../../../assets/logoGota.png" alt="" width="35" height="34" class="d-inline-block align-text-top">
            <b>Gota a Gota</b>
        </a>
        <!--   hamburguesa          -->
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->

        <div class="" id="navbarColor01">
            <ul class="navbar-nav mb-2 mb-lg-0 list-group-horizontal" id="navbar">

                <!--boton de inicio-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/inicio-screen']">Inicio</a>
                </li>

                <!--boton de planta-->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/planta-screen']">Plantas</a>
                </li>

                <!--boton de Noticias-->
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/noticias-screen']">Noticias</a>
                </li>
                
                <!--boton de Foro-->
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/foro-screen']">Foro</a>
                </li>
                
                <!--boton de Ingreso-->
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/ingresar-screen']">Ingresar</a>
                </li>
            
                <!--boton de Registro-->
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/registrarse-screen']">Registrarse</a>
                </li>

            </ul>
        </div>
    </div>
</nav>