<table id="tablaSeguimiento" class="table border-dark text-white">
    <thead class="thead-dark bg-success bg-gradient border-dark">
        <tr>
            <!-- Parte de arriba de la tabla -->
            <th scope="col">#</th>
            <th scope="col"><b>Planta</b></th>
            <th scope="col"><b>Edad (Días)</b></th>
            <th scope="col"><b>Riego/Día (Litros)</b></th>
            <th scope="col"><b>Cambio de etapa (Días)</b></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <!-- plantas que agregue el usuario-->
    <tbody class="bg-success border-dark">
        <tr *ngFor="let planta of plantas; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{planta.nombre}}</td>
            <td>{{planta.edad}}</td>
            <td>0.12</td>
            <td>31</td>
            <td>
                <button (click)="eliminar(i)" type="button" class="btn btn-success bg-gradient border-dark">❌</button>
            </td>
        </tr>
    </tbody>
</table>