<table id="tablaSeguimiento" class="table border-dark text-white">
    <thead class="thead-dark bg-success bg-gradient border-dark">
        <tr>
            <!-- Parte de arriba de la tabla -->
            <th scope="col">#</th>
            <th scope="col"><b>Planta</b></th>
            <th scope="col"><b>Edad</b></th>
            <th scope="col"><b>Riego/Día (Litros)</b></th>
            <th scope="col"><b>Cambio de etapa (Días)</b></th>
        </tr>
    </thead>
    <!-- plantas que agregue el usuario-->
    <tbody class="bg-success border-dark">
        <tr>
            <th scope="row">1</th>
            <td>Zanahoria</td>
            <td>2 días</td>
            <td>0.12</td>
            <td>31</td>
        </tr>
    </tbody>
</table>