<div class="card bg-success border-dark" style="width: 18rem;">
    <img width="100px" height="150px" src="https://www.investigacionyciencia.es/images/63425/articleImage-big.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title text-white">Las algas tóxicas asolaron a la sociedad maya</h5>
      <a target="_blank" href="https://www.investigacionyciencia.es/noticias/las-algas-txicas-asolaron-a-la-sociedad-maya-20816" class="btn btn-primary bg-success bg-gradient border-dark">Ver más</a>
    </div>
</div>