<div class="card comentarios border-dark bg-success text-white">
    <div class="row">
        <div class="col-md-2">
            <img src="../../../assets/logoGota.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="comentarioPost card-body">
                <h5 class="card-title"><b>@Gotita</b></h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nostrum?</p>
            </div>
        </div>
    </div>
</div>