<div class="container card comentarios border-dark bg-success text-white">
    <div class="row">
        <div class="col-md-1">
            <img src="../../../assets/logoGota.png" class="img-fluid rounded-start" height="60px" width="60px" alt="...">
        </div>
        <div class="col-md-10">
            <div class="comentarioPost card-body">
                <h5 class="card-title"><b>@Gotita</b></h5>
                <p class="card-text">{{comentario}}</p>
            </div>
        </div>
    </div>
</div>