<div id="centro">    
    <section *ngIf="esFruta; else verdura">
        <span *ngFor="let fruta of frutas" >
            <span *ngIf="fruta.cantAgua == check[0] || fruta.cantAgua == check[1] || fruta.cantAgua == check[2]">
                <app-tarjeta-planta [planta]="fruta"></app-tarjeta-planta>
            </span>
        </span>
    </section>
    <ng-template #verdura>
        <section>
            <span *ngFor="let verdura of verduras">
                <span *ngIf="verdura.cantAgua == check[0] || verdura.cantAgua == check[1] || verdura.cantAgua == check[2]">
                    <app-tarjeta-planta [planta]="verdura"></app-tarjeta-planta>
                </span>
            </span>
        </section>
    </ng-template>

    <aside>
        <app-check-agua (revisarEsFruta)="frutaOverdura($event)" (revisarPocaAgua)="pocaAgua($event)" (revisarMediaAgua)="mediaAgua($event)" (revisarMuchaAgua)="muchaAgua($event)"></app-check-agua>
    </aside>
</div>