<div id="registrar" class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="Registrar text-center">Registrarse</h5>

        <!-- imput de Usuario -->
        <div id="usuario">
            <input type="text" class="form-control" placeholder="ej: usuarioCognito">
            <p class="card-text">Usuario</p>
        </div>

        <!-- imput de contraseña -->
        <div id="clave">
            <input type="password" class="form-control" placeholder="ej: *123PassworD456*">
            <p class="card-text">Contraseña</p>
        </div>

        <!-- boton -->
        <button type="button" class="btn btn-success">Registrar</button>
    </div>
</div>