<div class="card mt-3 mb-3" style="width: 25rem;">
    <div class="card-body">
        <h5 class="Registrar text-center">Registrarse</h5>

        <!-- imput de Usuario -->
        <div class="mt-3">
            <input type="text" class="form-control" placeholder="ej: UsuarioCognito" [(ngModel)]="nombre">
            <p class="card-text">Usuario</p>
        </div>

        <!-- imput de contraseña -->
        <div class="mt-3">
            <input type="password" class="form-control" placeholder="ej: *123PassworD456*" [(ngModel)]="clave1">
            <p class="card-text">Contraseña</p>
        </div>

        <div class="mt-3">
            <input type="password" class="form-control" placeholder="ej: *123PassworD456*" [(ngModel)]="clave2">
            <p class="card-text">Repite la contraseña</p>
        </div>

        <div class="mt-3">
            <input (change)="captureFile($event)" class="form-control mt-3" type="file" accept=".jpg, .png, .jpeg">
            <p class="card-text">Icono</p>
            <img *ngIf="imgFlag" src="{{img}}" class="mt-3 w-25 h-25 rounded-circle mx-auto d-block">
        </div>
        
        <form [formGroup]="aFormGroup">
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
        </form>

        <!-- boton -->
        <button type="button" class="btn btn-success mt-3 mx-auto d-block" (click)="registrarUsuarios()" id="liveToastBtn">Registrar</button>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Bootstrap</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Hello, world! This is a toast message.
              </div>
            </div>
        </div>
        
    </div>
</div>