<table id="tablaInfo" class="table border-dark text-white">
    <thead class="thead-dark bg-success bg-gradient border-dark">
        <tr>
            <th scope="col"><b>Edad de planta</b></th>
            <th scope="col"><b>Agua/Día</b></th>
        </tr>
    </thead>
    <tbody class="bg-success border-dark">
        <tr>
            <td>1-30 dias</td>
            <td>1.5 L</td>
        </tr>
        <tr>
            <td>31-70 dias</td>
            <td>3.5 L</td>
        </tr>
        <tr>
            <td>71-110 dias</td>
            <td>3.5 L</td>
        </tr>
        <tr>
            <td>111-135 dias</td>
            <td>2 L</td>
        </tr>
    </tbody>
</table>